.new-journey {
  background-color: $white;
  width: 90%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  &__img {
    border-radius: 10px;
    object-fit: cover;
  }
  &__form {
    padding: 1rem;
    flex-grow: 1;
  }
  &__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    label {
      margin-bottom: 0.4rem;
      font-weight: 500;
      letter-spacing: 0px;
      font-size: 1.2rem;
    }
    input,
    textarea {
      padding: 0.2em;
      outline: none;
      border: 1px solid $blue;
      border-radius: 5px;
      &:focus {
        border: 1.5px solid darken($color: $blue, $amount: 20);
      }
    }
  }
  &__error {
    color: $red;
    font-size: 0.8em;
    padding-top: 0.3em;
  }
  &__date {
    display: flex;
  }
  &__select {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    select {
      width: 70px;
      padding: 0.3em;
      margin: 0.2rem 0.6rem 0 0;
      border: 1px solid $blue;
      border-radius: 5px;
      outline: none;
    }
  }
  &__companion {
    display: flex;
    flex-wrap: wrap;
  }
  &__add-companion {
    font-size: 0.9rem;
    padding-bottom: 0.3em;
  }
  &__chip {
    background-color: $blue;
    padding: 0.5em 0.7em;
    margin: 0 0.4em 0.4em 0;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    &--delete {
      margin-left: 0.4em;
      color: $blue;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 1.1rem;
      height: 1.1rem;
      font-weight: 900;
      cursor: pointer;
    }
  }
  #file-image {
    display: none;
  }
  &__image-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-top;
  }
  &__label--image {
    background-color: $blue;
    color: $white;
    max-width: 150px;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1rem !important;
    margin-right: 1em;
  }
  &__image-name {
    font-size: 0.9rem;
    padding: 0.5em 0;
    span {
      word-break: break-all;
      font-weight: 600;
    }
  }
  &__buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__button {
    font-size: 1.2rem;
    padding: 0.5em;
    margin: 0.5rem;
    outline: none;
    border: 2px solid $blue;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 900;
    width: 280px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    &:hover {
      border: 2px solid darken($color: $blue, $amount: 20);
      background-color: darken($color: $blue, $amount: 20);
      color: $white;
    }
    &--back {
      background-color: $white;
      color: $blue;
    }
    &--add {
      background-color: $blue;
      color: $white;
    }
  }
}

@media (max-width: 1000px) {
  .new-journey {
    flex-direction: column;
    &__img {
      max-height: 700px;
    }
  }
}

@media (max-width: 700px) {
  .new-journey {
    &__img {
      max-height: 300px;
    }
  }
}
