.journey-container {
  background: $blueJourneyContainer;
  border-radius: 10px;
}

.journey {
  background: $white;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__description {
    margin-left: 1.5rem;
    flex-grow: 1;
  }
  &__h3 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 0.4rem;
    word-break: break-all;
  }
  &__p {
    font-size: 1.2rem;
    font-weight: 500;
    color: $grey;
  }
  &__icon {
    font-size: 3rem;
    min-width: 48px;
  }
}

.no-journey-toshow {
  color: $white;
  margin: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.new-journey {
  &__btn--create {
    position: fixed;
    bottom: 5vmin;
    right: 5vmin;
    background-color: $white;
    color: $blueJourneyContainer;
    font-weight: 400;
    font-size: 4.5rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid $blueJourneyContainer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
  }
}

@media (max-width: 700px) {
  .journey {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    &__description {
      margin-left: 0.75rem;
    }
    &__h3 {
      font-size: 1.2rem;
    }
    &__p {
      font-size: 0.6rem;
    }
    &__icon {
      font-size: 2rem;
    }
  }
  .new-journey__btn {
    width: 60px;
    height: 60px;
    font-size: 3rem;
  }
}
