.no-journey {
  padding: 1rem;
  text-align: center;
  &__h2 {
    color: $white;
    font-size: 2.4rem;
    padding: 1em 0.5em;
  }
  &__btn {
    font-size: 1.8rem;
    padding: 0.8em 1em;
    outline: none;
    border: 5px solid $white;
    border-radius: 30px;
    background-color: $white;
    text-transform: uppercase;
    color: $blue;
    font-weight: 900;
    cursor: pointer;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
