$blueContainerMainTop: #40aed9;
$blueContainerMainBottom: #439bda;
$blueContainerRight: #44c7e1;
$blueContainerLeft: #489fe1;
$blueJourneyContainer: #308bc7;
$white: #fff;
$grey: #8a8a8a;

$font-stack: 'Roboto', sans-serif;
