@import 'config';

:root {
  box-sizing: border-box;
  font-family: $font-stack;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  background: $blueContainerMainTop;
  background: linear-gradient(to left, $blueContainerLeft, $blueContainerRight);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  background: $blueContainerRight;
  background: linear-gradient(
    to bottom,
    $blueContainerMainTop,
    $blueContainerMainBottom
  );
  width: 90%;
  max-width: 700px;
  height: 100%;
  padding: 2rem;
}

@media (max-width: 700px) {
  .center-container {
    padding: 1rem;
  }
}

@import '../components/background';
@import '../components/modal-error';
@import '../components/not-found-page';
@import '../components/no-journey';
@import '../components/journey';
@import '../components/journey-create';
@import '../components/journey-delete-modal';
